.search-bar {
  border: 1px solid red;
  padding: 4px 8px;
  background-color: white;
  width:600px
}
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

